# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pyc
dsame.bat
source.bat
multimon-ng/cygwin1.dll
multimon-ng/multimon-ng.exe
multimon-ng/README.md
rtl-sdr-release/convenience_static.lib
rtl-sdr-release/libusb-1.0.dll
rtl-sdr-release/pthreadVC2-w64.dll
rtl-sdr-release/rtl_adsb.exe
rtl-sdr-release/rtl_eeprom.exe
rtl-sdr-release/rtl_fm.exe
rtl-sdr-release/rtl_power.exe
rtl-sdr-release/rtl_sdr.exe
rtl-sdr-release/rtl_tcp.exe
rtl-sdr-release/rtl_test.exe
rtl-sdr-release/rtlsdr.dll
rtl-sdr-release/rtlsdr.lib
rtl-sdr-release/rtlsdr_static.lib
*.bak
msg.bat
